<!doctype html>
{% from "_formhelpers.html" import render_field %}

<h1>Add a Conference</h1>

<a href="/add">Back</a>

<form method="post" action="">
  <dl>
    {{ render_field(form.bibtexkey) }}
    {{ render_field(form.author) }}
    {{ render_field(form.title) }}
    {{ render_field(form.booktitle) }}
    {{ render_field(form.year) }}
    {{ render_field(form.editor) }}
    {{ render_field(form.volume) }}
    {{ render_field(form.number) }}
    {{ render_field(form.series) }}
    {{ render_field(form.pages) }}
    {{ render_field(form.address) }}
    {{ render_field(form.month) }}
    {{ render_field(form.organization) }}
    {{ render_field(form.publisher) }}
    {{ render_field(form.note) }}
  </dl>
  <p>* required</p>
  <p>
    <input type="submit" value="Lisää">
  </p>
</form>