<!doctype html>
{% from "_formhelpers.html" import render_field %}

<h1>Add a Booklet</h1>

<a href="/add">Back</a>

<form method="post" action="">
  <dl>
    {{ render_field(form.bibtexkey) }}
    {{ render_field(form.author) }}
    {{ render_field(form.title) }}
    {{ render_field(form.howpublished) }}
    {{ render_field(form.address) }}
    {{ render_field(form.month) }}
    {{ render_field(form.year) }}
    {{ render_field(form.note) }}
  </dl>
  <p>* required</p>
  <p>
    <input type="submit" value="Lisää">
  </p>
</form>
