<!doctype html>
{% from "_formhelpers.html" import render_field %}

<h1>Lisää Viite</h1>
<form method="post" action="">
  <dl>
    {{ render_field(form.author) }}
    {{ render_field(form.title) }}
    {{ render_field(form.journal) }}
    {{ render_field(form.year) }}
    {{ render_field(form.volume) }}
    {{ render_field(form.number) }}
    {{ render_field(form.pages) }}
    {{ render_field(form.month) }}
    {{ render_field(form.note) }}
  </dl>
  <p>
    <input type="submit" value="Lisää">
  </p>
</form>
