<!doctype html>
{% from "_formhelpers.html" import render_field %}

<h1>Edit Article</h1>

<a href="/article/{{ ref.id }}">Go back without editing</a>

<p>Bibtexkey = {{ ref.bibtexkey }}</p>
<form method="post" action="">
  <dl>
    {{ render_field(form.author) }}
    {{ render_field(form.title) }}
    {{ render_field(form.journal) }}
    {{ render_field(form.year) }}
    {{ render_field(form.volume) }}
    {{ render_field(form.number) }}
    {{ render_field(form.pages) }}
    {{ render_field(form.month) }}
    {{ render_field(form.note) }}
  </dl>
  <p>* required</p>
  <p>
    <input type="submit" value="Edit">
  </p>
</form>
