<h1>Current references</h1>

<a href="/">Back to Index</a>

{% if articles %}
<p>Articles</p>
<ul>
{% for ref in articles %}
    <li><a href="/article/{{ ref.id }}">id: {{ ref.id }}, bibtex key: {{ ref.bibtexkey }}</a></li>
{% endfor %}
</ul>
{% endif %}

{% if books %}
<p>Books</p>
<ul>
{% for ref in books %}
    <li>{{ ref }}</li>
{% endfor %}
</ul>
{% endif %}

{% if booklets %}
<p>Booklets</p>
<ul>
{% for ref in booklets %}
    <li>{{ ref }}</li>
{% endfor %}
</ul>
{% endif %}

{% if conferences %}
<p>Conferences</p>
<ul>
{% for ref in conferences %}
    <li>{{ ref }}</li>
{% endfor %}
</ul>
{% endif %}

{% if inbooks %}
<p>Inbooks</p>
<ul>
{% for ref in inbooks %}
    <li>{{ ref }}</li>
{% endfor %}
</ul>
{% endif %}

{% if incollections %}
<p>Incollections</p>
<ul>
{% for ref in incollections %}
    <li>{{ ref }}</li>
{% endfor %}
</ul>
{% endif %}

{% if inproceedings %}
<p>Inproceedings</p>
<ul>
{% for ref in inproceedings %}
    <li>{{ ref }}</li>
{% endfor %}
</ul>
{% endif %}

{% if manuals %}
<p>Manuals</p>
<ul>
{% for ref in manuals %}
    <li>{{ ref }}</li>
{% endfor %}
</ul>
{% endif %}

{% if masterstheses %}
<p>Masters theses</p>
<ul>
{% for ref in masterstheses %}
    <li>{{ ref }}</li>
{% endfor %}
</ul>
{% endif %}

{% if phdtheses %}
<p>Phd theses</p>
<ul>
{% for ref in phdtheses %}
    <li>{{ ref }}</li>
{% endfor %}
</ul>
{% endif %}

{% if proceedings %}
<p>Proceedings</p>
<ul>
{% for ref in proceedings %}
    <li>{{ ref }}</li>
{% endfor %}
</ul>
{% endif %}

{% if techreports %}
<p>Techreports</p>
<ul>
{% for ref in techreports %}
    <li>{{ ref }}</li>
{% endfor %}
</ul>
{% endif %}

{% if unpublished %}
<p>Unpublished</p>
<ul>
{% for ref in unpublished %}
    <li>{{ ref }}</li>
{% endfor %}
</ul>
{% endif %}

{% if miscs %}
<p>Miscellaneous</p>
<ul>
{% for ref in miscs %}
    <li>{{ ref }}</li>
{% endfor %}
</ul>
{% endif %}